@use '../utils/variables' as v;
@use '../utils/breakpoints' as b;

/* CUSTOMER-SECTION CLASS*/

.customer {
    padding-top: 94px;
    padding-bottom: 94px;
@media screen and (min-width: b.$mobile-min) and (max-width: b.$mobile-max) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
@media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
    padding-top: 60px;
    padding-bottom: 60px;
    }

/* CUSTOMER ICONS */

&__title {
    font-style: normal;
    font-weight: v.$font-weight-max;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
@media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: calc(33/28);
}
@media screen and (min-width: b.$mobile-min) and (max-width: b.$mobile-max) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: calc(33/28);
}
}

&__list {
    display: flex;
    @media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

@media screen and (min-width: b.$mobile-min) and (max-width: b.$mobile-max) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
    
}

&__item:not(:first-child) {
    margin-left: 30px;
    @media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
    margin-left: 0px;
}

@media screen and (min-width: b.$mobile-min) and (max-width: b.$mobile-max) {
    margin-left: 0px;
}
}

&__link {
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition: color v.$time v.$time-function, border-color v.$time v.$time-function;
@media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
    width: 226px;
    height: 92px;
}

@media screen and (min-width: b.$mobile-min) and (max-width: b.$mobile-max) {
    width: 210px;
    height: 92px;
}
}


&__icon {
    fill: currentColor;
}

&__link:hover,
&__link:focus {
    color: v.$accent-color;
    border-color: v.$accent-color;
}
}
