@use '../utils/variables' as v;
@use '../utils/breakpoints' as b;


.features {
    padding-top: 94px;
    padding-bottom: 100px;
@media screen and (min-width: b.$mobile-min) and (max-width: b.$mobile-max) {
    padding-top: 60px;
    padding-bottom: 60px;
}
@media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
    padding-top: 60px;
    padding-bottom: 60px;
    }

&__list {
    display: flex;

@media screen and (min-width: b.$mobile-min) and (max-width: b.$mobile-max) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

@media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 30px;
}
}

&__item:not(:last-child){
    margin-right: 30px;

@media screen and (min-width: b.$mobile-min) and (max-width: b.$mobile-max) {
    margin-right: 0px;
}

@media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
    margin-right: 0px;
}
}

&__title{
    margin-bottom: 10px;
    font-weight: v.$font-weight-max;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;

@media screen and (min-width: b.$mobile-min) and (max-width: b.$mobile-max) {
        text-align: center;
    }
}

&__text {
    font-size: 14px;
    line-height: calc(24/14);
    color: #757575;
}

/* FEATURES ICONS */
&__icon-wrapper {
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

@media screen and (min-width: b.$mobile-min) and (max-width: b.$mobile-max) {
    width: 450px;
    height: 120px;
}

@media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
    width: 354px;
    height: 120px;
}


}

}