@use '../utils/variables' as v;
@use '../utils/breakpoints' as b;


.features {
    padding-top: 60px;
    padding-bottom: 60px;
@media screen and (min-width: b.$desktop) {
    padding-top: 94px;
    padding-bottom: 100px;
    }

&__list {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    justify-content: center;
}

&__item {

    @media screen and (max-width: b.$mobile-max) {
        width: 100%;
    }

    @media screen and (min-width: b.$tablet-min) {
        flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: b.$desktop) {
        flex-basis: calc((100% - 90px) / 4);
    }
}



&__title{
    margin-bottom: 10px;
    font-weight: v.$font-weight-max;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    text-align: center;

@media screen and (min-width: b.$tablet-min) {
        text-align:left;
    }
}

&__text {
    font-size: 14px;
    line-height: calc(24/14);
    color: #757575;
}

/* FEATURES ICONS */
&__icon-wrapper {
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

}