@use '../utils/variables' as v;
@use '../utils/breakpoints' as b;


.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;



&__container {
    display: flex;

    @media screen and (max-width: b.$mobile-max) {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    }

    @media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 56px;
}
    @media screen and (min-width: b.$desktop) {
     justify-content: space-between;   
    }

}

&__info-area {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: b.$tablet-max) {
            align-items: center;
        }
}

&__info-list {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: b.$tablet-max) {
    align-items: center;
    }
}

&__logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: v.$font-weight-max;
    letter-spacing: 0.03em;
    color: v.$accent-color;

@media screen and (max-width: b.$tablet-max) {
    font-size: 24px;
    line-height: calc(28/24);
    margin-bottom: 13px;
    
}

@media screen and (min-width: b.$desktop) {
    font-size: 26px;
    line-height: calc(31/26);
    margin-bottom: 9px;

}

}

&__logo-part{
    color: #FFFFFF;
}

&__address-link {
display: flex;
flex-direction: column;
@media screen and (max-width: b.$tablet-max) {
align-items: center;
text-align: center;
}
}

/*&__info-item:not(:last-child) {
    margin-bottom: 2px;
}*/

&__info-item:nth-child(2){
margin-bottom: 9px;
}

&__address-link {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-style: normal;
    transition: color v.$time v.$time-function;
   
}

&__contact-link {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    transition: color v.$time v.$time-function;
}

/*&__contact-link {
    margin-bottom: 9px;
@media screen and (min-width: b.$mobile-min) and (max-width: b.$mobile-max) {
        margin-bottom: 8px;
    }

@media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
        margin-bottom: 8px;
    }

}*/

&__address-link:hover,
.footer__address-link:focus {
    color: v.$accent-color;
}

&__address-link:active {
    color: purple;
}

&__contact-link:hover,
&__contact-link:focus {
    color: v.$accent-color;
}

&__contact-link:active {
    color: purple;
}
}



.footer-socials {
    
   

&__title {
    font-style: normal;
    font-weight: v.$font-weight-max;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
@media screen and (max-width: b.$tablet-max) {
     text-align: center;   
    }
}

&__list {
    display: flex;
}

&__item:not(:first-child) {
    margin-left: 10px;
}

&__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color v.$time v.$time-function;
}

&__link:hover,
&__link:focus {
    background-color: v.$accent-color;}

&__icon {
    fill: currentColor;
}
}