@use '../utils/variables' as v;
@use '../utils/breakpoints' as b;



   


.header {
    
&__container {
    display: flex;
    align-items: center;
}

}

.header-portfolio {
    border-bottom: 1px solid #ececec;

    &__container {
        display: flex;
        align-items: center;
    }

}

.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: v.$font-weight-max;
    letter-spacing: 0.03em;
    color: v.$accent-color;
    font-size: 24px;
    line-height: calc(28/24);
    padding-top: 16px;
    padding-bottom: 16px;


    
    @media screen and (min-width: b.$tablet-min) {
    font-size: 24px;
    line-height: calc(28/24);
}
    
    @media screen and (min-width: b.$desktop) {
    font-size: 26px;
    line-height: calc(31/26);
}
}

.logo-part{
 color:#000000;
}

.menu-button {
margin-left: auto;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-right: 23px;
    background-color: white;
    border: none;
    color: #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    

@media screen and (min-width: b.$tablet-min) {
            display: none;
}
    


&:hover,
&:focus {
    color: v.$accent-color;
}

&__icon{
    fill: currentColor;
}
}




.nav{
@media screen and (max-width: b.$mobile-max) {
display: none;
}
@media screen and (min-width: b.$tablet-min) {
margin-left: auto;  
}    


&__list {
    display: flex;
    align-items: center;
    gap:53px;
}

}

.nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    font-weight: v.$font-weight-mid;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #212121;
    position: relative;
    transition: color v.$time v.$time-function;

&::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: v.$accent-color;
    transform: scaleX(0);
    transition: transform v.$time v.$time-function;
    transform-origin: left;
}

&:hover::after,
&:focus::after {
    transform: scaleX(1);
}

&:hover,
&:focus {
    color: v.$accent-color;
}

&:active {
    color: purple;
}

}



.nav__link-current {
    color: blue;


&::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: v.$accent-color;
    transform: scaleX(1);
}

}



.contacts-list {
    
@media screen and (max-width: b.$mobile-max) {
    display: none;
}

@media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap:10px;
    
}

@media screen and (min-width: b.$desktop) {
    display: flex;
    margin-left: auto;
    align-items: center;
}


&__item:not(:last-child) {
    
    @media screen and (min-width: b.$desktop) {
    margin-right: 50px;
    }
}

&__link {
    display: block;
    font-weight: v.$font-weight-mid;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    align-items: center;
    transition: color v.$time v.$time-function;
    display: block;
    position: relative;
    
    @media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
    font-size: 12px;
    line-height: calc(14/12);
    }
    
    @media screen and (min-width: b.$desktop) {
    font-size: 14px;
    line-height: calc(16/14);
    padding-top: 30px;
    padding-bottom: 30px;
}
}


&__link:hover,
&__link:focus {
    color: v.$accent-color;
}

&__link:active {
    color: purple;
}


@media screen and (min-width:b.$desktop){
/*
&__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: v.$accent-color;
    transform: scaleX(0);
    transition: transform v.$time v.$time-function;
    transform-origin: left;
}
*/

&__link:hover::after {
    transform: scaleX(1);
}
}

/* HEADER ICONS */
&__icon {
    margin-right: 10px;
    fill: currentColor;
}

}