@use '../utils/variables' as v;
@use '../utils/breakpoints' as b;

.menu {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;

    &__is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    }
}

.header-window {
    position: absolute;
    height: 100%;
    width: 100%;
    
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 2px 4px rgba(0, 0, 0, 0.08),
        0px 1px 3px rgba(0, 0, 0, 0.16);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;


        &__button {
            background-color: white;
            width: 30px;
            height: 30px;
            border: none;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 21px;
            right: 25.33px;
            cursor: pointer;
        }
    
        &__button:hover,
        &__button:focus {
            color: v.$accent-color;
        }
    
    
        &__close-icon {
            fill: currentColor;
        }
}

.window-nav{


&__list{
    display: flex;
    flex-direction: column;
    gap:15px;
}

&__link{
    display:inline-block;
    font-weight: v.$font-weight-mid;
    font-size: 40px;
    line-height: calc(47/40);
    letter-spacing: 0.02em;
    color: #212121;
    transition: color v.$time v.$time-function;
}


&__link:hover,
&__link:focus {
    color: v.$accent-color;
}

&__link:active {
    color: purple;
}
}

.window-contacts{
    display: flex;
    flex-direction: column;
    gap:24px;
}

.window-contacts-list{
    display: flex;
    flex-direction: column;
    gap:16px;

&__link {
display: block;
font-weight: v.$font-weight-mid;
letter-spacing: 0.02em;
color: #757575;
transition: color v.$time v.$time-function;
font-size: 24px;
line-height: calc(40/24);
letter-spacing: 0.02em;
}

&__link[href="mailto:example@gmail.ru"] {
line-height: calc(28/24);
}

&__link:hover,
&__link:focus {
    color: v.$accent-color;
}

&__link:active {
    color: purple;
}

}

.window-socials-list{  

display: flex;
align-items: center;


&__line{
border: 1px solid rgba(33, 33, 33, 0.2);
margin-left: 10px;
margin-right: 10px;
}

&__link{
font-size: 14px;
line-height: calc(22/18);
letter-spacing: 0.02em;
color: #757575;
font-weight: v.$font-weight-mid;
transition: color v.$time v.$time-function;
}

&__link:hover,
&__link:focus {
    color: v.$accent-color;
}

&__link:active {
    color: purple;
}
}