@use '../utils/variables' as v;
@use '../utils/breakpoints';


.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroundImage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


&__title {
    text-align: center;
    font-weight: v.$font-weight-ultra-max;
    font-size: 44px;
    line-height: calc(60/44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 252px;
    margin-right: 252px;
}

&__button {
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    margin-top: 30px;
    background: v.$accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 20px;
    transition: color v.$time v.$time-function;


&:hover,
&:focus {
    color: #212121;
}

}}