@use '../utils/variables' as v;
@use '../utils/breakpoints' as b;

/*BACKGROUND WHEN WINDOW IS OPEN*/
.backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;


&__is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
}

/* MODAL WINDOW CLASS */
.modal-window {
    position: absolute;
    min-height: 581px;
    width: 528px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
@media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
    min-height: 609px;
    width: 450px;
}


&__button {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

&__button:hover,
&__button:focus {
    color: v.$accent-color;
}


&__close-icon {
fill: currentColor;}

&__title {
    color: #212121;
    text-align: center;
    margin-top: 40px;
    font-weight: v.$font-weight-max;
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;
@media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
    margin-left: 40px;
    margin-right: 40px;
}
}

&__form {
    margin-top: 12px;
    margin-left: 40px;
@media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
    margin-top: 26px;
    margin-left: 40px;
}
    
}
}




.info {
    margin-bottom: 10px;
    cursor: pointer;


&__personal-details {

    font-weight: v.$font-weight-min;
    font-size: 12px;
    line-height: calc(14/12);
    margin-bottom: 4px;
    letter-spacing: 0.01em;
    color: #757575;
}

&__input {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition: color v.$time v.$time-function;
}

&__input:hover,
&__input:focus {
    color: v.$accent-color;
}

&__input-space {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    font-weight: v.$font-weight-min;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.01em;
    transition: border-color v.$time v.$time-function;
    @media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
    width: 370px;
    height: 40px;
    }
}

&__input-space:hover,
&__input-space:focus {
    border-color: v.$accent-color;
    cursor: pointer;
}

&__form-icon {
    position: absolute;
    left: 15px;
    top: 14px;
    fill: currentColor;
}

&__comments {
    margin-bottom: 20px;
}

&__comments-input-space {
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-weight: v.$font-weight-min;
    resize: none;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.01em;
    transition: border-color v.$time v.$time-function;
@media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
    width: 370px;
    height: 120px;
}
}

&__comments-input-space:hover,
&__comments-input-space:focus {
    border-color: v.$accent-color;
    cursor: pointer;
}
}


.checkbox {
    margin-bottom: 30px;


&__is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

&__input {
    display: flex;}


&__square {
    width: 16px;
    height: 15px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 13px;
    color: #FFFFFF;
}

&__icon {
    fill: currentColor;
}



&__text {
font-family: 'Roboto';
font-style: normal;
font-weight: v.$font-weight-min;
font-size: 14px;
line-height: calc(24/14);
margin-left: 8.38px;
letter-spacing: 0.03em;
color: #757575;
@media screen and (min-width: b.$tablet-min) and (max-width: b.$tablet-max) {
font-size: 12px;
line-height: 14px;
}
}

&__area:checked +&__input > &__square {
    background-color: v.$accent-color;
}
}



.send-button {
    padding: 10px 80px;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: v.$font-weight-max;
    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    cursor: pointer;
    transition: color v.$time v.$time-function;


&:hover,
&:focus {
    color: #212121;
}
}

