@use '../utils/variables' as v;
@use '../utils/breakpoints';


.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;


&__container {
    display: flex;
    flex-direction: column;

}

&__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

&__item:not(:last-child) {
    margin-right: 8px;
}

&__link {
    border: none;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto';
    font-weight: v.$font-weight-mid;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    align-items: center;
}


&__link:hover,
&__list:focus {
    background-color: v.$accent-color;
    color: #FFFFFF
}

&__link:active {
    color: purple;
}

&__pic-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

&__pic-item {
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
}

&__pic-item:hover,
&__pic-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

&__card-overlay {
    position: relative;
    overflow: hidden;
}

&__overlay-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: v.$font-weight-min;
    font-size: 18px;
    line-height: calc(28/18);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1);

}

&__pic-title {
    padding-top: 20px;
    padding-bottom: 4px;
    font-style: normal;
    font-weight: v.$font-weight-max;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: #212121;
    margin-left: 24px;
}

&__pic-text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    font-weight: v.$font-weight-min;
    color: #757575;
    margin-left: 24px;
}



&__pic-item:hover &__overlay-text,
&__pic-item:focus &__overlay-text {
    transform: translateY(0%);
}
}
