@use '../utils/breakpoints' as b;


$time: 250ms;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$accent-color: #2196F3;
$font-weight-ultra-max:900;
$font-weight-max: 700;
$font-weight-mid: 500;
$font-weight-min: 400;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    /* width: 100% -> the image will take up the full width of its parent container */
    /* max-width: 100% -> ensures that the image will not exceed its original size */
}


body {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    
    /*width: 100%;*/

    @media screen and (min-width: b.$mobile-min) {
            width: 480px;
    }

    @media screen and (min-width: b.$tablet-min) {
        width: 768px;
    }

    @media screen and (min-width: b.$desktop) {
        width: 1200px;
    }

}